name: Update Live Rates
on:
  schedule:
    # Runs at 0, 10, 20, 30, 40, and 50 minutes past every hour
    - cron: '*/10.5 * * * *'
  workflow_dispatch: # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install requests
      - name: Run update script
        run: python update_rates.py
      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add index.html
          git commit -m "Update rates" || exit 0
          git push
